/node_modules
/public
/public/storage
/public/assets/achievement
/public/assets/award
/public/assets/employee
/public/assets/leave
/public/assets/punishment
/public/punishment
/storage/*.key
/vendor
.idea
.idea/workspace.xml
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
